page-home {

    .content1{

        background-color:lightgreen;
    }
    .nav{

        text-align: center;
        color: whitesmoke;
    }
    .item1{

        color: red;
        background: rgba(255, 255, 255, 0.4);


    }

}
